{% extends 'layout/base.html.twig' %}
{% block title %}Alquil.AR{% endblock %}

{% block content %}
  <div class="container my-4">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="card-title">
          Perfil de {{ user.nombre }} {{ user.apellido }}
          {% if 'ROLE_CLIENTE' in user.roles %}
            <span class="h6 text-muted">(Cliente)</span>
          {% elseif 'ROLE_EMPLEADO' in user.roles %}
            <span class="h6 text-muted">(Empleado)</span>
          {% elseif 'ROLE_GERENTE' in user.roles %}
            <span class="h6 text-muted">(Gerente)</span>
          {% endif %}
        </h1>

        <div class="mb-4">
          <p class="mb-1"><strong>Email:</strong> {{ user.email }}</p>
          <p class="mb-1"><strong>DNI:</strong> {{ user.dni }}</p>
          <p class="mb-1"><strong>Valoración:</strong> {{ user.valoracion_total / user.cant_valoraciones }}</p>
        </div>

        <div class="mt-4">
          {% if 'ROLE_CLIENTE' in user.roles %}
            <p class="mb-1"><strong>Valoración:</strong> {{ user.valoracion_total / user.cant_valoraciones }}</p>
            <div class="border rounded p-3 mb-3 bg-light">
              <p class="text-secondary mb-3">Gestionar</p>
              <a REEMPLAZAR:"Este campo por la ruta adecuada a la HU" class="btn btn-primary me-2 mb-2 d-none">Reservas</a>
              <a REEMPLAZAR:"Este campo por la ruta adecuada a la HU" class="btn btn-primary me-2 mb-2 d-none">Alquileres</a>
              <a href="{{ path('app_listar_usuarios', {'id': user.id}) }}" class="btn btn-secondary me-2 mb-2">Editar</a>
              {% if 'ROLE_GERENTE' not in user.roles %}
                <form method="POST" action="{{ path('app_eliminar_usuario', {'id': user.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres eliminar a {{ user.email }}?');" class="d-inline">
                  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                  <button type="submit" class="btn btn-danger btn-sm mb-2" title="Eliminar Usuario">
                    <i class="fas fa-trash"></i> Eliminar
                  </button>
                </form>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
