
{% extends 'layout/base.html.twig' %}

{% block title %}Alquil.AR{% endblock %}

{% block imports %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('leaflet/leaflet.css') }}" />
    <script src="{{ asset('leaflet/leaflet.js') }}"></script>
{% endblock %}


{% block content %}
  <div class="perfil-container">
    <h1>{{ sucursal.nombre }}</h1>

    <div class="info-box">
      <p><strong>Dirección:</strong> {{ sucursal.direccion }}</p>
      <p><strong>Ciudad:</strong> {{ sucursal.ciudad }}</p>
      <p><strong>Horario de atención:</strong> {{ sucursal.horario }}</p>
    </div>

    <div class="acciones">
       

      <a onClick= redirigirACatalogo({{sucursal.id}}) class="btn">Ver máquinas</a> 
    </div>
      <h3>Ubicación</h3>
<div id="map" style="height: 300px; width: 538px; border-radius: 10px; margin-top: 20px;"></div>

<script>
    const lat = {{ sucursal.latitud }};
    const lng = {{ sucursal.longitud }};

    const map = L.map('map').setView([lat, lng], 15);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    L.marker([lat, lng]).addTo(map)
        .bindPopup('{{ sucursal.nombre|e('js') }}')
        .openPopup();

  function redirigirACatalogo(sucursalId) {
    const url = `/catalogo?search=&tipo=&sucursal=${encodeURIComponent(sucursalId)}`;
    window.location.href = url;
}
</script>
  </div>


  <style>
    .perfil-container {
      max-width: 600px;
      margin: 2rem auto;
      padding: 2rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #f9f9f9;
      align-content:center;
    }
    .info-box p {
      margin: 0.5rem 0;
    }
    .acciones {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .btn {
      display: inline-block;
      padding: 0.6rem 1rem;
      background-color: #007bff;
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
      margin-bottom: 20px;
    }
    .btn:hover {
      background-color: #0056b3;
    }
  </style>
{% endblock %}
