{% extends 'layout/base.html.twig' %}
{% block title %}Alquil.AR{% endblock %}

{% block content %}
  <div class="container my-5">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="card-title">
          Perfil de {{ user.nombre }} {{ user.apellido }}
          {% if 'ROLE_CLIENTE' in user.roles %}
            <span class="fs-6 text-secondary">(Cliente)</span>
          {% elseif 'ROLE_EMPLEADO' in user.roles %}
            <span class="fs-6 text-secondary">(Empleado)</span>
          {% elseif 'ROLE_GERENTE' in user.roles %}
            <span class="fs-6 text-secondary">(Gerente)</span>
          {% endif %}
        </h1>

        <div class="mb-4">
          <p class="mb-1"><strong>Email:</strong> {{ user.email }}</p>
          <p class="mb-1"><strong>DNI:</strong> {{ user.dni }}</p>
        </div>

        <div class="row g-3">
          {% if 'ROLE_CLIENTE' in user.roles %}
            <div class="col-md-6">
              <div class="card border-secondary">
                <div class="card-body">
                  <p class="text-secondary fs-5 mb-3">Ver historiales</p>
                  <a href="{{ path('app_mis_reservas') }}" class="btn btn-primary mb-2">Mis reservas</a>
                  <a href="{{ path('app_mis_alquileres')}}" class="btn btn-primary mb-2">Mis alquileres</a>
                </div>
              </div>
            </div>
          {% endif %}
          <div class="col-md-6">
            <div class="card border-secondary">
              <div class="card-body">
                <p class="text-secondary fs-5 mb-3">Modificar datos</p>
                <a href="{{ path('app_reset_password') }}" class="btn btn-primary mb-2">Cambiar contraseña</a>
                {% if 'ROLE_GERENTE' not in app.user.roles %}
                <a href="{{ path('app_editar_mi_perfil') }}" class="btn btn-primary mb-2">Editar perfil</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
